Transcribe-Server/bin
Transcribe-Server/__pycache__
Transcribe-Server/lib
Transcribe-Server/share
Transcribe-Server-Mac/.venv
Transcribe-Server-Mac/build
Transcribe-Server-Mac/dist
AutoSubs/dist/*
AutoSubs/node_modules/*
.DS_Store
*.wav
/Mac-Server/build
/Mac-Server/dist
sign.sh
*.pkg
/AutoSubs/src-tauri/target
.env
/Windows-Server/build
/Windows-Server/dist
/AutoSubs-App/src-tauri/resources/Transcription-Server
/Transcription-Server/dist
/Transcription-Server/build
AutoSubs-App/package-lock.json
/Mac-Package/Payload
/AutoSubs-App/src-tauri/binaries
/AutoSubs-App/.windsurf
