$darkest: #222222;
$darker: #333333;
$dark: #444444;
$font: #bbbbbb;
$highlight: #aaaaaa;

$primary: #88715a;
$secondary: #4a3928;

$active: #20639b;
$changed: #3caea3;
$warning: #f6d55c;
$error: #ed553b;
