
.content{
    min-width: 250px;
    padding: 5px;
    
}

.button button{
    background: black;
    padding: 5px;
    border-radius: 5px;
    color: yellow;
}

.button button:hover{
    box-shadow: 1px 0px 5p gray;
}